.App {
  text-align: left;
  font-family: 'Gowun Batang', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.retMode{
  padding:20px;
  text-align: left;
  background-color: lemonchiffon;
  margin-bottom: 20px;
}

.response, .request{
  margin-top:20px;
  padding:30px;
  background-color: lightgray;
}

.REQ_CLS{
  background-color:peachpuff;
  padding:10px;
}

body{
  margin:5%;
}

.btns{
  background-color:papayawhip;
  padding:10px;
}